@keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-webkit-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-ms-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
@-moz-keyframes body_fondo {
	from { background-position: 0 50%; }
	to { background-position: 100% 50%; }
}
body {
    background: url(../../../imagenes/numixx.png) repeat #d2d6de !important;
	animation: body_fondo 200s linear infinite alternate;
} 
